.md-tabs__link {
  color: #fff;
  font-weight: 600;
  opacity: 1;
}

.md-tabs__item--active .md-tabs__link {
  border-bottom: 2px solid currentcolor;
}

.md-tabs__link:focus,
.md-tabs__link:hover {
  opacity: 1;
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
  font-weight: 600;
  letter-spacing: -0.015em;
}

.md-typeset table code {
  white-space: nowrap;
}
